html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
}

.form-empresa form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
}

.botoes-apagar {
    padding-top: 50px;
}

    .botoes-apagar a {
        margin: 0 30px;
    }

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

.listagem {
    left: 0;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

